@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

$fontSize-small: 14px;
$fontSize-standatr: 16px;
$font-family: 'Arimo', sans-serif;

html, body {
  font-size: $fontSize-small;
  font-family: $font-family;
}