footer.footer
    div.footer__wrap
        div.footer__coop
            p.footer__coop--item &copy; Knubisoft 2012-2013
            p.footer__coop--item All Rights Reserved
        ul.footer__menu
            li.footer__menu-item
                a.footer__menu-item--link Home
            li.footer__menu-item
                a.footer__menu-item--link Catalog
            li.footer__menu-item
                a.footer__menu-item--link Shipping and payment
            li.footer__menu-item
                a.footer__menu-item--link Price
            li.footer__menu-item
                a.footer__menu-item--link Contacts

script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js')
script(src='../dist/js/libs.min.js')