header.header
    div.header__wrap
        img(src='../dist/img/header-logo.png' alt='Logo')
        div.header__contact
            div.header__phone-wrap
                span.header__phone-wrap--item +3 (050) 777 77 77
                span.header__phone-wrap--item +3 (050) 777 77 77
            div.header__wrap-btn
                button.header__wrap-btn--item Feedback