ul.menu
    li.menu__item
        a.menu__item--link Home
    li.menu__item
        a.menu__item--link Catalog
    li.menu__item
        a.menu__item--link Shipping and payment
    li.menu__item
        a.menu__item--link Price
    li.menu__item
        a.menu__item--link Contacts